h1{
    color: red;
    font-family: Roboto, sans-serif;
    text-align: center;
}
.heading{
    color: red;
}
.p2{
    background-color: beige;
}
#paris{
    color: green;
}
#london{
    color: pink;
}
.lorem{
    padding: 0 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid gray;
}
.box{
    font-family: "Courier", serif;
    border-style: ridge;
    border-color: lightgreen;
    border-width: 10px;
    margin: 5px;
}